:root {
  --main-font: 'Titillium Web', sans-serif;
  --second-font: 'Raleway', sans-serif;
  --light-gray: #a6acb3;
  --dark-gray: #29333f;
  --light-blue: #1975E6;
  --blue: #114c97;
  --dark-blue: #071e39;
  --green: #7fbd42;
}